.top-view{
    font-size: 16px;
    position: fixed;
    left: 36px;
    top: 41px;
    z-index: 1;
    .logo{
        width: 196px;
        height: 56px;
        background: url("../../asset/img/logo.png") no-repeat center;
        background-size: contain;
    }
    .info{
        margin-top: 4px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #ffffff;
        .hot{
            width: 20px;
            height: 26px;
            background: url("../../asset/img/fire.png") no-repeat center;
            background-size: contain;
            margin-right: 7px;
        }
    }
}