.right-view{
    font-size: 16px;
    position: fixed;
    right: 20px;
    top: 88px;
    z-index: 1;
    width: 76px;
    .ico{
        cursor: pointer;
        width: 76px;
        height: 76px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.44) url("../../asset/img/share.png") no-repeat center;
        background-size: 40% auto;
        margin-bottom: 24px;
    }
    .effect{
        background-image: url("../../asset/img/effect.png");
    }
    .full{
        background-image: url("../../asset/img/full.png");
    }
    .picture{
        background-image: url("../../asset/img/picture.png");
    }
    .camera{
        background-image: url("../../asset/img/camera.png");
    }
    .thumb{
        background-image: url("../../asset/img/thumb.png");
    }
    .file{
        display: none;
    }
}

@media screen and (min-width: 768PX){
    .right-view{
        font-size: 16PX;
        right: 20PX;
        top: 88PX;
        width: 76PX;
        .ico{
            width: 76PX;
            height: 76PX;
            margin-bottom: 24PX;
        }
    }
}