html, body{
    margin: 0;
    padding: 0;
    overflow: auto !important;
}
.canvas-box{
    position: relative;
}
#canvas{
    width: 100% !important;
    height: auto !important;
}
.img{
    width: 100%;
}
.input-box{
    display: flex;
    padding: 8px;
}
.input{
    flex: 1;
    display: block;
    box-sizing: border-box;
}
.label{
    font-size: 12px;
    color: rgb(19, 152, 204);
    padding: 4px 20px;
}
#control{
    display: none;
}
#btn{
    position: absolute;
    right: 4px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.8) url("./asset/setting.png") no-repeat center;
    background-size: 80%;
    border-radius: 4px;
    z-index: 3;
}
#info{
    position: absolute;
    right: 4px;
    top: 4px;
    width: 28px;
    height: 28px;
    background: url("./asset/info.png") no-repeat center;
    background-size: 100%;
    z-index: 3;
}

.color-tip{
    padding: 10px 10px 0;
    color: #707070;
    font-size: 12px;
    // display: none;
}
.colors{
    display: flex;
    flex-wrap: wrap;
    // display: none;
}
.color{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10px;
}

.animate{
    margin: 10px;
    background: #0299df;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
}
.disable{
    background: #707070;
    pointer-events: none;
}




.debug{
    display: none;
    padding: 20px;
}
.debug-label{
    margin-top: 20px;
    margin-bottom: 10px;
}
.button{
    margin: 20px auto;
}
.preview-img{
    margin: 10px 0;
    width: 100%;
}
#preview-canvas{
    width: 100% !important;
    height: auto !important;
    margin: 10px 0;
}
.video{
    width: 100%;
}