html, body{
    margin: 0;
    padding: 0;
    overflow: auto !important;
    font-size: 12px;
}
.canvas-box{
    position: relative;
}
#canvas{
    width: 100% !important;
    height: auto !important;
}
#setting{
    position: absolute;
    right: 10px;
    bottom: 16px;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.8) url("./asset/setting.png") no-repeat center;
    background-size: 72%;
    border-radius: 4px;
    z-index: 3;
}
#info{
    position: absolute;
    right: 4px;
    top: 4px;
    width: 40px;
    height: 40px;
    background: url("./asset/info.png") no-repeat center;
    background-size: 100%;
    z-index: 3;
}




@media screen and (min-width: 768PX){
html, body{
    margin: 0;
    padding: 0;
    overflow: auto !important;
    font-size: 12PX;
}
.canvas-box{
    position: relative;
}
#canvas{
    width: 100% !important;
    height: auto !important;
}
#setting{
    position: absolute;
    right: 10PX;
    bottom: 16PX;
    width: 32PX;
    height: 32PX;
    background: rgba(0, 0, 0, 0.8) url("./asset/setting.png") no-repeat center;
    background-size: 72%;
    border-radius: 4PX;
    z-index: 3;
}
#info{
    position: absolute;
    right: 4PX;
    top: 4PX;
    width: 40PX;
    height: 40PX;
    background: url("./asset/info.png") no-repeat center;
    background-size: 100%;
    z-index: 3;
}




}