.role-view{
    font-size: 24px;
    display: flex;
    position: fixed;
    left: 20px;
    bottom: 114px;
    align-items: center;
    .header{
        background: #d4d4d4 url("../../asset/img/share.png") no-repeat center;
        background-size: contain;
        border-radius: 50%;
        width: 76px;
        height: 76px;
    }
    .info{
        color: #ffffff;
        margin-left: 18px;
        .name{
            margin-bottom: 6px;
        }
        .phone{
            font-size: 20px;
        }
    }
}








@media screen and (min-width: 768PX){
.role-view{
    font-size: 24PX;
    display: flex;
    position: fixed;
    left: 20PX;
    bottom: 114PX;
    align-items: center;
    .header{
        background: #d4d4d4 url("../../asset/img/share.png") no-repeat center;
        background-size: contain;
        border-radius: 50%;
        width: 76PX;
        height: 76PX;
    }
    .info{
        color: #ffffff;
        margin-left: 18PX;
        .name{
            margin-bottom: 6PX;
        }
        .phone{
            font-size: 20PX;
        }
    }
}








}